<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verificar Clave</title>
    <link rel="stylesheet" href="/usuarios/web/css/validarClave.css">
</head>
<body>
    <div class="container">
        <h1>Verificar Clave</h1>
        <% if (error) { %>
            <p class="error-message"><%= error %></p>
        <% } %>
        <form action="/usuarios/verificar-clave" method="POST" class="form">
            <input type="password" name="clave" placeholder="Ingrese la clave secreta" required>
            <button type="submit">Verificar</button>
        </form>
    </div>
</body>
</html>
